<h1>Listing cases</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- @cases.each do |c| %>
  <tr>
    <td><%= c.client_id %></td>
    <td><%= c.notes %></td>
    <td><%= link_to 'Show', c %></td>
    <td><%= link_to 'Edit', edit_case_path(c) %></td>
    <td><%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_case_path %>
